*~
__pycache__
build
doc/sphinx/build
#
gui-prototypes/side-view/side-view_ui.py
CodeReview/PatienceDiff/_patiencediff_c.cpython-34m.so
bzr-backup/
gui-prototypes/qlog.ui
links/
notes/bzr-qlog1.png
notes/diffview.py
notes/github1.png
notes/github2.png
notes/github3.png
notes/github4.png
notes/github5.png
notes/github6.png
notes/qbzr-qdiff.png
notes/qbzr-qlog.png
notes/qgit1.png
notes/qgit2.png
notes/qgit3.png
notes/qgit4.png
notes/qgit5.png
notes/qgit6.png
share/icons/svg/line-number-mode.svg
test-repository/
test/Model.py
test/github3-test.py
test/swalign-fabrice/
test/swalign-mbreese/
test/token.txt
tools/rsync-vps.sh
