*~
__pycache__
.directory

du.log
nogit/
__TRASH__/
review.json

CodeReview.egg-info/
MANIFEST
build/
dist/

doc/sphinx/build/
doc/sphinx/source/api/

CodeReview/GitHub/code/
CodeReview/PatienceDiff/_patiencediff_c.cpython-310-x86_64-linux-gnu.so
CodeReview/PatienceDiff/_patiencediff_c.cpython-38-x86_64-linux-gnu.so
CodeReview/QmlApplication/rcc/CodeReviewRessource.py
CodeReview/QmlApplication/rcc/code-review.rcc
CodeReview/TextDistance/buggy.c
CodeReview/ovh.txt
CodeReview/share/icons/copy-icons.sh

doc/IDEA.md
doc/git-gui.md
doc/gitkraken/

old/RELEASE-TEST.rst
old/__BUGS__/
old/gitkraken-id.txt
old/gui-prototypes/qlog.ui
old/gui-prototypes/side-view/side-view_ui.py
old/notes/bzr-qlog1.png
old/notes/codereview.png
old/notes/diffview-link.txt
old/notes/git-man-pages/
old/notes/github1.png
old/notes/github2.png
old/notes/github3.png
old/notes/github4.png
old/notes/github5.png
old/notes/github6.png
old/notes/qbzr-qdiff.png
old/notes/qbzr-qlog.png
old/notes/qgit1.png
old/notes/qgit2.png
old/notes/qgit3.png
old/notes/qgit4.png
old/notes/qgit5.png
old/notes/qgit6.png
old/profile-pyqgit.sh
old/test-failure.txt
old/test-repository/bzr-repo/
old/test-repository/git-repo/repo-branches/
old/test-repository/git-repo/repo-twisted-branches/
old/test-repository/git-repo/repo-two-branches/
old/test-repository/git-repo/repo1/
old/test/Model.py
old/test/github3-test.py
old/test/init-stage-test-repo.sh
old/test/stage-test
old/test/swalign-fabrice/
old/test/swalign-mbreese/
old/test/test-diff.py
old/test/test-levenshtein-distance.py
old/test/test-repo/
old/test/token.txt
old/tools/rsync-vps.sh
old/tools/upload-www
