*~
__pycache__
.directory
#
MANIFEST
build/
dist/
doc/sphinx/build/
#
CodeReview/PatienceDiff/_patiencediff_c.cpython-35m-x86_64-linux-gnu.so
CodeReview/TextDistance/buggy.c
DELETED-SPHINX-SOURCE
bzr-backup/
gui-prototypes/
liblevenshtein_distance.so
notes/
profile-pyqgit.sh
share/icons/copy-icons.sh
test-repository/
test/Model.py
test/github3-test.py
test/init-stage-test-repo.sh
test/stage-test
test/swalign-fabrice/
test/swalign-mbreese/
test/test-diff.py
test/test-levenshtein-distance.py
test/test-repo/
test/token.txt
tools/rsync-vps.sh
tools/upload-to-pypi
