include .gitignore
include .pyflymakerc
include .travis.yml
include GPL-V3.0.txt
include MANIFEST.in
include README.html
include README.rst
include README.txt
include requirements.txt
include setup_data.py
recursive-include CodeReview *.py *.yml *.c *.h *.ui Makefile.pyqt *.png *.svg
recursive-include doc *
recursive-include doc/sphinx/source/_static *
recursive-include gh-pages *
recursive-include spec *.spec *.desktop
recursive-include unit-test *.py
recursive-include unit-test/data *.txt
prune *~
prune *.pyc
prune build
prune doc/sphinx/build
prune tasks
prune QtShim
